<style>

body {
  background: #2a2a38;
  font:       12pt Arial;
  color:      #cccccc;
}

a {
  color:        #9a7f49;
  font-weight:  normal;
}

h1 {
  font-weight:      bold;
  text-decoration:  none;
  color:            #cccccc;
  font-size:        15pt;
}

.fizzbuzz-result {
  margin:   10px;
  padding:  5px;
}

.odd {
  background-color: #555;
}

#headline {
  text-align:       center;
  margin:           auto;
  font-weight:      bold;
  text-decoration:  none;
  color:            #cccccc;
  font-size:        36pt;
  margin-top:       20px;
}
#subheader {
  text-align:       center;
  margin:           auto;
  font-weight:      bold;
  text-decoration:  none;
  color:            #cccccc;
  font-size:        8pt;

}

.fox-box {
  width:          400px;
  margin:         auto;
  margin-top:     20px;
  margin-bottom:  100px;
  background:     #000000;
  border:         3px double #505068;
  padding:        20px;
}

</style>
<div id="headline">Fizz Buzz</div>

<div id="subheader">(<%= link_to "http://github.com/kerrizor/fizz-buzz","http://github.com/kerrizor/fizz-buzz", :target => "_new_window" %>)</div>

<div class="fox-box">
  <% @fizzbuzz.crunch.each do |v| %>
    <div class="fizzbuzz-result <%= cycle('odd', 'even') %>"><%= v %></div>
  <% end %>
</div>