
<div id="headline">Fizz Buzz</div>

<div id="subheader">(<%= link_to "http://github.com/kerrizor/fizz-buzz","http://github.com/kerrizor/fizz-buzz", :target => "_new_window" %>)</div>

<div class="fox-box">
  <% @fizzbuzz.crunch.each do |v| %>
    <div class="fizzbuzz-result <%= cycle('odd', 'even') %>"><%= v %></div>
  <% end %>
</div>